:root {
  --color-primary: #5c487a;
  --color-link: #794ac0;
  --color-hover: #C987D5;
  --color-secondary: #3688be;
  --header-height: 12rem;
  --aside-width: max(28rem, 25vw);
  --main-width: 100%;
  --header-margin: 3.1rem;
  --home-padding: 3rem;
}

@media (max-width: 800px) {
  :root {
    --aside-width: 100%;
  }
}

/**/
/* @media (max-width: 420px) { */
/*     :root {} */
/* } */
